<!-- <div class="row">
  <h3>Cadastro Startup</h3>
</div>
  <form [formGroup] = "formulario">
   <div class="containers">
    <div class="row">
      <div class="form-group col-md-5">
        <label for="inputEmail4">Nome da Startup</label>
        <input formControlName="nome"  type="text" class="form-control" >
      </div>
      <div class="form-group col-md-5">
        <label for="inputPassword4">LOCAL</label>
        <input formControlName="local" type="text"  class="form-control" >
      </div>
      <div class="form-group col-md-5">
        <label for="inputEmail4">FUNCAIONARIOS</label>
        <input formControlName="funcionarios"  type="startup" class="form-control" >
      </div>



    </div>
  </div>
    <button (click)="OnSubmit()" type="button" class="btn btn-primary my-5">Cadastar Startup</button>
</form>
<div class="mt-5" class="row">


  <div class="col-11">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">LOCAL</th>
      <th scope="col">FUNCIONARIOS</th>
    </tr>
  </thead>
  <tbody *ngFor="let startup of liststartup">
    <tr>
      <td>{{startup.nome}}</td>
      <td> {{startup.local}}</td>
      <td> {{startup.funcionarios}}</td>
    </tr>
  </tbody>
 </table>
  </div>
</div> -->



<div class="example-container" [class.example-is-mobile]="modoExibicao" >
  <mat-toolbar color="primary" class="example-toolbar">

    <div class="div_buttons_app_bar">
      <button mat-icon-button (click)="snav.toggle()" matTooltip="Filtros"><mat-icon>menu</mat-icon></button>

      <button (click)="goToHome()" mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">

        <mat-icon matTooltip="Home">home</mat-icon>
      </button>

      <button (click)="goToInvest()"mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">

        <mat-icon matTooltip="Investimento" >trending_up</mat-icon>
      </button>

      <button (click)="goToStartup()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">

        <mat-icon  matTooltip="Startups">store</mat-icon>
      </button>
    </div>

    <div class="div_texto_titulo_app_bar">

      <h1 class="example-app-name">Sistema Startup</h1>
    </div>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="modoExibicao ? 56 : 0">
    <mat-sidenav #snav [mode]="modoExibicao ? 'over' : 'side'"
                 [fixedInViewport]="modoExibicao" fixedTopGap="56">
      <mat-nav-list  [formGroup] = "formulario" fxLayout="column">

        <h2>Filtro de Startup</h2>

        <mat-hint>Localização da Startup</mat-hint>
        <mat-form-field appearance="legacy">
            <mat-label>Ex: Pernambuco</mat-label>
            <input formControlName="local"  type="text" class="form-control" matInput placeholder="Placeholder">

          </mat-form-field>


          <button mat-raised-button color="primary" (click)="listaStartup()">Buscar</button>



      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
      <mat-table [dataSource]="liststartup">
        <!-- id Pitch -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> STARTUP </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.nome}} </mat-cell>
        </ng-container>

        <!-- Serie de Investimento -->
        <ng-container matColumnDef="local">
          <mat-header-cell *matHeaderCellDef> LOCAL </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.local}} </mat-cell>
        </ng-container>

        <!-- Local -->
        <ng-container matColumnDef="funcionarios">
          <mat-header-cell *matHeaderCellDef> FUNCIONÁRIOS </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.funcionarios}} </mat-cell>
        </ng-container>

         <!-- Local -->
         <!-- <ng-container matColumnDef="botao">
          <mat-header-cell *matHeaderCellDef>DETALHES </mat-header-cell>
          <mat-cell *matCellDef="let row"> <button mat-raised-button color="primary" (click)="mostrarDetalhes(row)">Ver</button> </mat-cell>
        </ng-container> -->

        <!-- Header and Row Declarations -->
        <mat-header-row *matHeaderRowDef="['id','local','funcionarios']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['id','local','funcionarios']"></mat-row>
      </mat-table>


    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

