 <div class="example-container" [class.example-is-mobile]="modoExibicao" >
  <mat-toolbar color="primary" class="example-toolbar">


   <div style="">

     <h1 class="example-app-name">Sistema Startup</h1>
   </div>
  </mat-toolbar>

  <div fxLayout="row" fxLayoutAlign="center center" style="height: 100%; width: 100%">


    <button  (click)="goToInvest()" mat-raised-button  color="primary">
      Sou Investidor
    </button>

    <button (click)="goToStartup()" mat-raised-button  color="primary">
      Sou Startup
    </button>
  </div>

</div>
